{% extends 'home.html' %}

{% block content %}

    <section class="container-fluid px-0">
        <div class="row align-items-center content">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>LITTLE STORY ABOUT US</h2>
                        <p class="lead">In the year of 2021, out of love for pancakes and a big sweet tooth, the "Pick a pancake" pancake house was born. The founders, fellow students, Helena and Daria were brought together with the love for a good and cozy hangout place
                            where they could share the thing they love the most. A nice meal of sweet dessert followed by laughter and a great atmosphere needed only one more thing - the view. That's why our pancake house is located along the coast of
                            the "Adriatic Gem", surrounded by the sound of waves and astonishing sunset. In the heart of Zadar, we gathered the best recipes your taste buds will ever receive. Our menu options are covering different styles from all around
                            the world. Since picking and choosing was never an easy thing, we chose only the best, with no wrong options. All sorts of marvelous combinations of your favorite toppings along with the perfect base. So, if you ever wondered
                            what is your "it" combination, come along to the coast and feel free to Pick a pancake.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src='https://i.postimg.cc/vTwGGs7Z/place1.jpg' alt='place' class="img-fluid">
            </div>
        </div>
    </section>

</body>

</html>

{% endblock %}