{% extends 'home.html' %}

{% block content %}
    <section class="container-fluid px-0">
        <div class="row align-items-center content">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>PICK A PANCAKE</h2>
                        <p class="lead">Craving something sweet? Pick a pancake that best suits you.</p>

                        <a href="{{ url_for('shop') }}" class="button">pick and choose</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src='https://i.postimg.cc/ht24TNn2/pancake1.jpg' alt='pancake' class="img-fluid">
            </div>
        </div>

        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img src='https://i.postimg.cc/650BxF8B/pancake2.jpg' alt='pancake2' class="img-fluid">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>RESERVATIONS</h2>
                        <p class="lead">Looking for a perfect place for the first date, birthday celebration, anniversary or even a casual day out? Look no more! Be assured that your table will be ready for you!</p>
                        <a href="{{ url_for('reservation') }}" class="button">make a reservation</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center content">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>NEWSLETTER</h2>
                        <p class="lead">
                            Don't miss out on special discounts and events!
                        </p>

                        <form action="/form" method="POST">
                            <div class="newsletter">
                                <input type="text" placeholder="First Name" name="first_name" required>
                                <input type="text" placeholder="Email Address" name="email" required>
                            </div>

                            <div class="newsletter">
                                <input type="submit" value="subscribe">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src='https://i.postimg.cc/C1kVP2yT/pancake3.jpg' alt='pancake3' class="img-fluid">
            </div>
        </div>
    </section>

</body>

</html>

{% endblock %}
