{% extends 'home.html' %}

{% block content %}
   <!--menu list-->
<br/>
<br/>
        <div class="blurb">


            <ul class="restaurant-menu-list ">
                <h2 class="element-big-content-title">Special<strong>Edition</strong></h2>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span> Dutch pancakes</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Dutch pancakes are small, fluffy yeasted treats made in a special cast iron pan. They are sold throughout the Netherlands, and are traditionally served hot with butter and powdered sugar </p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Hotteok pancakes</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Hotteok is a popular Korean street food made from a simple yeast dough with a sweet syrupy filling made with brown sugar, cinnamon and walnuts.</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Crepe cone</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Crepes are replacing the regular ice cream cone. It's filled with 3 most popular flavours of ice cream – vanilla, chocolate, strawberry and is topped with chocolate and strawberry syrup</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Charturie board</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">34.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Nutella, hazelnut and white chocolate spread, fruits followed by a warm batch of american pancakes served on a wooden board for a maximum sharing abillity</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Souffle pancakes</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">34.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Soufflé pancakes are Japan's delicacy. Jiggly, light, fluffy, and delicious pancakes, mostly served with a dash of powdered sugar on top </p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Breakfast cereal</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">34.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Mini american pancakes with added creamy butter, bananas, strawberries and chocolate chips followed by a glass of milk.</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Ice cream sandwich</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">34.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>American pancakes with a scoop of vanila ice cream, funfetti ice cream and topped with sprinkles</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Greece tiganites</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Tiganites are originated from Greece, similar to well known fried doughnuts. They can served as either savoury or sweet</p>
                    </div>
                </li>
                <h2 class="element-big-content-title ">American<strong>Pancakes</strong></h2>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Nuts for you</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Banana, peanuts, cashews, caramel, hazelnut spread, peanut butter</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Best of berries</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Forest fruit, whipped cream, white chocolate spread, cranberries jam</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Maple dream</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Maple syrup, bananas, roasted almonds, white chocolate spread</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Going bananas</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Bananas, maple syrup, orange, white chocolate spread</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Cappuccino pancake</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Whipped cream, caramel, coffee ice cream</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Oreo stash</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Oreo, chocolate syrup, whipped cream, Nutella</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Strawberries dream</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Strawberries, maple syrup, white chocolate spread, cream</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Penaut drizzle</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Peanut butter, bananas, blueberries, maple syrup</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Maltesers topping</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Nutella, cream, Maltesers, chocolate pudding</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Chocolate blizzard</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Bananas, melted dark chocolate, white chocolate spread</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Fruit heaven</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Bananas, strawberries, raspberry, apricot syrup, blueberries</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>All about coconut</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Caramel, coconut flakes, blueberries, bananas, coconut spread</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Cinnamon apple</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Apple, cinnamon, maple syrup</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>The tower</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Strawberries, whipped cream, strawberry syrup, white chocolate spread</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Chocolate chip</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Vanilla ice cream, chocolate chips, Nutella</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>The tower</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Strawberries, whipped cream, strawberry syrup, white chocolate spread</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Chocolate chip</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Vanilla ice cream, chocolate chips, Nutella</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>The tower</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Strawberries, whipped cream, strawberry syrup, white chocolate spread</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Chocolate chip</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Vanilla ice cream, chocolate chips, Nutella</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Ice cream sundae</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Vanilla ice cream, cherry, chocolate sryup, Nutella</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Almond joy</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Almonds, melted dark chocolate, caramel, whipped cream</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Snowflake's white</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Powdered sugar, white chocolate spread</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Raspberry Queen</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Choco pancake, raspberry, raspberry jam, Nutella, powdered sugar</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Pumpkin spice</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Pumpkin puree, cinnamon, cream, maple syrup</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Best of the best</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Whipped cream, Nutella, chocolate chips, chocolate syrup, vanilla ice cream</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Bite of Snickers</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Caramel, melted dark chocolate, peanuts, peanut butter, vanilla ice cream</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Breakfast granola</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Granola, blueberries, honey</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>America's classic</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Maple syrup, strawberries</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>That's my jam</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Cherry jam, cherries, white chocolate spread</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Nutella filled</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Nutella, strawberries, whipped cream</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Gingerbread festivity</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">29.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Apple puree, cinnamon, whipped cream, sprinkles</p>
                    </div>
                </li>
                <h2 class="element-big-content-title ">Crepes<strong></strong></h2>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Sweet citrus</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Orange, walnuts, honey, lemon ice cream</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Autumn's favorite</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Apple, apple puree, powdered sugar, whipped cream</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Apple crumble</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Apple, apple puree, whipped cream, maple syrup, vanilla ice cream</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Bee's honey</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Honey, raspberries, lemon, powdered sugar, lemon ice cream</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Feels like summer</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Blueberries, strawberries, whipped cream, Nutella, chocolate syrup, coconut flakes</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Kit Kat obsession</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Kit kat, whipped cream, chocolate syrup, Nutella</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Cream infused</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Choco pancake, whipped cream, strawberries, powdered sugar</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Deep in the night</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Choco pancake, raspberries, melted dark chocolate, whipped cream</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>secound half</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Strawberries, Nutella, melted dark chocolate, strawberry jam</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Pancake stuffer</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Strawberries, vanilla ice cream, whipped cream, powdered sugar</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Churro swirls</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Nutella, powdered sugar, cinnamon, brown sugar, maple syrup</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Lemona smile</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Lemon syrup, powdered sugar, white chocolate spread</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Merry berry</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Choco pancake, raspberry, strawberry, whipped cream, white chocolate spread, powdered sugar</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Whipped mind</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Whipped cream, vanilla ice cream, Nutella</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Chocolate fanatic</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Nutella, chocolate pudding, powdered sugar</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Rainbow colors</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Sprinkles, bananas, chocolate syrup, strawberries, white chocolate spread</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Chocolate hug</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Choco pancake, blackberry, pomegranate, bananas, Nutella</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Sweetness overload</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Nutella, bananas, powdered sugar</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Salted caramel</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Caramel, melted dark chocolate, caramel ice cream, vanilla ice cream</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>All about the red</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Pomegranate, Nutella, melted dark chocolate</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Pistachios time</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Pistachios, whipped cream, honey</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Into the Galaxy</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Galaxy chocolate, chocolate syrup, caramel, vanilla ice cream, Nuttela</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Caramel drip</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Choco pancake, caramel, almonds, Nutella</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Sweet tooth</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Caramel, walnuts, whipped cream</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>Fig pancakes</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Figgs, melted dark chocolate, white chocolate spread</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>S'mores pancake</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Chocolate chips, whipped cream, white chocolate syeup, marshmallows, Nutella</p>
                    </div>
                </li>
                <li>
                    <div class="restaurant-menu-title ">
                        <div class="restaurant-menu-name ">
                            <span>So much FUNfetti</span>
                        </div>
                        <div class="restaurant-menu-dots "></div>
                        <div class="restaurant-menu-price ">27.99KN</div>
                    </div>
                    <div class="restaurant-menu-description ">
                        <p>Sprinkles, whipped cream, vanilla ice cream</p>
                    </div>



        </div>
    </section>

    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Choose your favorite, and visit us</strong>
    </div>

</body>

</html>

{% endblock %}
